# generate your secret key with
# python -c 'from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())'

apiVersion: v1
kind: Secret
metadata:
  name: melita-secrets
  labels:
    app.kubernetes.io/name: melita-secrets
    app: melita-secrets
stringData:
  DJANGO_SETTINGS_MODULE: "melita.settings.k8s"
  DJANGO_DEBUG: "true"
  DJANGO_SECRET_KEY: "thisshouldbesecret"
  DJANGO_STATIC_ROOT: "/pvc/static"
  DJANGO_STATIC_URL_BASE: "https://files.domain/static/"
  DJANGO_MEDIA_ROOT: "/pvc/media"
  DJANGO_MEDIA_URL_BASE: "https://files.domain/media/"
  DJANGO_DATABASE_HOST: "dbhost"
  DJANGO_DATABASE_NAME: "dbname"
  DJANGO_DATABASE_USER: "dbuser"
  DJANGO_DATABASE_PASSWORD: "dbpassword"
