.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.icon--flipped {
  transform: scaleX(-1);
}

.icon-arrow {
  width: 1.75em;
  height: 1.25em;
  margin-top: -0.25em;
  background-image: url("/static/icons/noun-arrow-2905805.svg");
}

.icon-download {
  width: 1.33em;
  height: 1.33em;
  margin-top: -0.15em;
  background-image: url("/static/icons/noun-download-4804396.svg");
}

.icon-lightbulb {
  width: 2.5em;
  height: 2.5em;
  background-image: url("/static/icons/noun-lightbulb-589680-EC5F58.svg");
}

.icon-open-new-page {
  width: 0.85em;
  height: 0.85em;
  margin-top: -0.15em;
  background-image: url("/static/icons/noun-open-new-page-4116274-3072F6.svg");
}
