.lesson {
  .lesson__content {
    .lesson__key-terms {
      .lesson__key-term {
        display: flex;
        gap: 0.75rem;
        align-items: center;

        & > .key-term-icon {
          flex: 0 0 0%;
          margin-top: -0.4rem;
        }

        & > .key-term-text {
          flex: 1 0 0%;
        }

        dt,
        dd {
          display: inline;
          font-size: 18px;
          font-style: italic;
        }
      }
    }

    .lesson__section {
      .lesson__section-title {
        display: inline-block;
        margin: 0;
        padding: 1.1em 1.5em 0.9em 1.5em;
        font-family: $font-family-sans-serif;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        border: 1px solid $black;
      }

      .lesson__section-content {
        margin-top: -1px;
        padding: 1.1em 1.5em;
        font-size: 18px;
        border: 1px solid $black;
        position: relative;

        &.lesson__section-content--has-stripe {
          padding-left: calc(1.5em + 1rem);

          .lesson__section-stripe {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 1rem;
            border-right: 1px solid $black;
          }
        }

        .activity {
          .activity__title {
            font-size: 16px;
            font-weight: 700;
            font-style: italic;
            text-transform: uppercase;
          }

          .activity__aim {
            span {
              font-weight: 600;
              font-style: italic;
            }
          }
        }

        .badges {
          display: flex;
          flex-wrap: wrap;
          gap: 1rem;

          .badge {
            padding: 0.33em 1.25em;
            font-size: 16px;
            font-weight: 400;
            color: $body-color;
            border: 2px solid $red;
            background-color: rgba($red, 0.15);
            text-transform: capitalize;
          }
        }

        .sources {
          .source {
            margin-bottom: 1rem;

            &:last-child {
              margin-bottom: 0.25rem;
            }

            a {
              font-size: 16px;
              font-weight: 600;
              color: $blue;
              text-decoration: none;
              border-bottom: 1px solid $blue;

              &:hover {
                text-decoration: none;
                border-bottom-color: transparent;
              }
            }
          }
        }
      }
    }

    .lesson__activities-section {
      .lesson__activity-section {
        position: relative;
        padding-left: 3rem;

        .lesson__activity-section-stripe {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          width: 1rem;
          border: 1px solid $black;
        }

        .activity {
          .activity__title {
            margin-bottom: 3rem;
            font-size: 16px;
            font-weight: 700;
            font-style: italic;
            text-transform: uppercase;
          }

          &.rich-text {
            h3,
            h4 {
              margin-top: 3rem;
              margin-bottom: 0.75rem;
              border-bottom: 0;
              font-family: $font-family-sans-serif;
              font-weight: 700;
            }

            h3 {
              font-size: 28px;
            }

            h4 {
              font-size: 24px;
            }
          }
        }
      }
    }
  }

  .lesson__sidebar {
    .lesson__meta-data {
      & + .lesson__meta-data {
        margin-top: -1px;
      }

      .lesson__meta-data-box {
        display: inline-block;
        padding: 0.75rem 1rem 0.75rem 1rem;
        border: 1px solid $black;
        word-break: break-word;
      }

      dt,
      dd {
        display: inline-block;
      }

      dt {
        margin-right: 1rem;
        font-size: 14px;
        font-weight: 400;
        font-style: italic;
      }

      dd {
        margin-bottom: 0;
        font-size: 18px;
        font-weight: 600;
      }
    }
  }
}
