.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 0;

  body.bg-alt & {
    background-color: $body-bg-alt;
  }

  & > main {
    flex: 1 0 0%;
    display: flex;
    flex-direction: column;
  }
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  @include media-breakpoint-down(sm) {
    --bs-gutter-x: 3rem;
  }
}

.back-nav {
  font-size: 14px;
}

.page-footer {
  background: $body-bg;
  border-top: 2px solid $black;

  .footer-links {
    border-bottom: 2px solid $black;

    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    .footer-col-links {
      display: flex;
      gap: 4rem;

      @include media-breakpoint-down(sm) {
        justify-content: space-between;
        margin-bottom: 2rem;
      }

      a {
        font-weight: 600;
      }
    }

    .footer-col-lang {
      display: flex;
      gap: 2rem;
      font-weight: 600;

      @include media-breakpoint-down(sm) {
        flex-wrap: wrap;
        gap: 0.25rem 2rem;

        .lang-title {
          flex-basis: 100%;
        }
      }

      a {
        font-weight: 400;

        &.active {
          font-weight: 700;
          text-decoration: underline;
        }
      }
    }
  }

  .footer-logos {
    .partners {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-evenly;
      gap: 1rem;
      margin-bottom: 2rem;

      @include media-breakpoint-up(lg) {
        margin-bottom: 0;
      }

      img {
        display: inline-block;
        width: auto;
        height: 50px;
      }
    }

    .small {
      font-size: 10px;
    }
  }
}
