.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 0;

  body.bg-alt & {
    background-color: $body-bg-alt;
  }

  & > main {
    flex: 1 0 0%;
    display: flex;
    flex-direction: column;
  }
}

.back-nav {
  font-size: 14px;
}

.page-footer {
  background: $body-bg;
  border-top: 2px solid $black;

  .footer-links {
    border-bottom: 2px solid $black;

    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    .footer-col-links {
      display: flex;
      gap: 4rem;

      a {
        font-weight: 600;
      }
    }

    .footer-col-lang {
      display: flex;
      gap: 2rem;
      font-weight: 600;

      a {
        font-weight: 400;

        &.active {
          font-weight: 700;
          text-decoration: underline;
        }
      }
    }
  }

  .footer-logos {
    .small {
      font-size: 10px;
    }
  }
}
