{% extends "base.html" %}
{% load static i18n wagtailcore_tags jsonify %}

{% block title %}MeLiTA{% endblock title %}

{% block body_class %}lesson-list-view{% endblock %}

{% block back_nav %}{% endblock back_nav %}

{% block content %}

<div class="split-container" x-data="filters">
  <div class="split-child">
    <div class="filters-half">
      <div class="position-sticky">
        <div class="header">
          <img src="{% static 'icons/logo.svg' %}" alt="Melita logo" />
          <h1>MeLiTa</h1>
        </div>
        <div class="filters">
          {% for filter in filters %}
          <button class="ratio ratio-1x1 filter" @click="showPopup('{{ filter.key }}')" @click.outside="showPopup('{{ filter.key }}', false)">
            <div class="content content--behind">
              <img src="{{ filter.icons.1 }}" />
              <span>{{ filter.translated_name }}</span>
            </div>
            <div class="content" x-show="!getFilter('{{ filter.key }}').enabled_options.length">
              <img src="{{ filter.icons.0 }}" />
              <span>{{ filter.translated_name }}</span>
            </div>
            <template x-if="getFilter('{{ filter.key }}').showPopup">
              <div class="filter-popup">
                <div class="options">
                  {% for option in filter.options %}
                  <div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="{{ option }}" id="{{ option|slugify }}" x-model="getFilter('{{ filter.key }}').enabled_options">
                      <label class="form-check-label" for="{{ option|slugify }}">
                        {{ option }}
                      </label>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </template>
          </button>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="split-child">
    <div class="list-half">
      <div class="header">
        <h2>{% translate "Lessons" %}</h2>
      </div>
      <div class="filters">
        <ul class="filter-pills">
          <template x-for="filter in enabledFilters">
            <li>
              <span class="badge rounded-pill">
                <span x-text="filter.translated_name"></span>
                <button type="button" class="btn-close ms-2" aria-label="Remove" @click="filter.enabled_options = []"></button>
              </span>
            </li>
          </template>
        </ul>
      </div>
      <div class="list js-lesson-list">
        {% include 'home/lesson_list_partial_view.html' %}
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block extra_js %}
<script>
  window.__FILTER_LESSONS_URL__ = "{% url 'lesson_list_partial' %}";
  window.__FILTERS__ = JSON.parse("{{ filters|jsonify|escapejs }}");

  const lessonListElement = document.querySelector('.js-lesson-list');

  function fetchLessons(fetchUrlParams) {
    const paramsString = fetchUrlParams
      .toString()
      .replaceAll('%5B', '[')
      .replaceAll('%5D', ']')
      .replaceAll('%2C', ',');

    window.history.replaceState(null, '', `${window.location.pathname}?${paramsString}`);

    const url = new URL(window.__FILTER_LESSONS_URL__, window.location.origin);
    url.search = fetchUrlParams.toString();

    lessonListElement.innerHTML = 'LOADING...';

    fetch(url)
      .then(
        (res) => {
          if (!res.ok) {
            console.error(res);
            return `<div class="alert alert-warning">${res.statusText}</div>`;
          }
          return res.text();
        },
        (error) => {
          console.error(error);
          return `<div class="alert alert-danger">${error.message}</div>`;
        }
      )
      .then((text) => {
        lessonListElement.innerHTML = text;
        window.scrollTo(0, 0);
      })
  }

  document.addEventListener("alpine:init", () => {
    Alpine.data("filters", () => ({
      init() {
        this.$watch('fetchUrlParams', () => {
          fetchLessons(this.fetchUrlParams);
        });
      },
      filters: JSON.parse(JSON.stringify(window.__FILTERS__)),
      get enabledFilters() {
        return this.filters.filter(f => f.enabled_options.length);
      },
      getFilter(key) {
        return this.filters.find(f => f.key === key);
      },
      showPopup(key, show = true) {
        const filter = this.filters.find(f => f.key === key);
        filter.showPopup = show;
      },
      get fetchUrlParams() {
        const entries = this.filters
          .map(f => ([`filter[${f.key}]`, f.enabled_options.join(',')]))
          .filter(([k,v]) => !!v);
        return new URLSearchParams(entries);
      }
    }));
  });
</script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.12.0/cdn.min.js"
  integrity="sha512-q3IIEurgoigFmtIZFen7Autc3SyY1uvDoNqC7Et5Yzt2d76+ZJvunoO9OVQVcxdXlORVv3vtvzlsMKFA9HIaaQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
{% endblock extra_js %}
